
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
*{
    margin: 0;
    padding: 0;
}
body,html{
    font-family: Arial, Helvetica, sans-serif;
    background: #000000 url(images/fundo.png)  repeat;
    color: #ffffff;
    margin: 0;
    min-width: 1280px; ;
    height: 100%;
    
 
}
#top{
    position: relative;

}
#logo{
     width: 100%;
     height: 600px;
     position: absolute;
    }
#paragrafos-home{
    font-size: 1.5em;
    color:#ffffff;
    padding-top: 40px;
    padding-left: 300px;
}
#menu-lateral{
    background:#D1824B ;
    margin-top: 35px;
    margin-right: 90px;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 20px;
    right: 0;   
    border-radius: 30px ; 
}


.img-dog-lateral{
 position: absolute;
 bottom: 45px;
 right: 310px;

}
.balao{
    padding-top: 60px;
    padding-left: 70px;
}
#rodape{
    position: fixed;
    width: 100%;
    height: 10%;
    padding: 10px;
    bottom: 0px;
    background: #ccc url(images/fundo.png);
    font-size: 1em;
    color:#D1824B; 
}

.autoria-icons{
    font-size: 0.7em;
}
.autoria-link{
    color: #fff;
}

.linkfinal{
 position: absolute;
 font-size: 1.1em;
 padding: 14px;
 left: 280px;
 top: 260px;
 border-radius: 30px;
}
.linkfinal a {
    color: black;
    color: black;
    padding: 14px;
    background: #D1824B;
    border-radius: 30px;
}
.linkfinal a:hover {
    color: black;
    padding: 14px;
    background:#fff;
    border-radius: 30px; 
}
.adotar{
  position: absolute;
  bottom: 190px;
  left: 300px;
  width: 400px;
  height: 40px;
  line-height: 2.5em;
  text-transform: uppercase;
  text-align: center;
  color: #D1824B;
 
}
a{
  text-decoration: none;
}
ul{
    list-style: none;
}
 #menu-lateral ul li {
    margin-top: -14px;
    float: left;
}
#menu-lateral ul li a { 
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: cursive;
    padding: 20px;
}
ul a:hover{
    background: black; 
}
body.Home #navegacao a#Home,
body.Sobre #navegacao a#Sobre,
body.Racas #navegacao a#Racas,
body.Contato #navegacao a#Contato

{


    background:#383838; 
}

/* Página Sobre" */

#Logo-Sobre{ 
     width: 100% ;
     height: 40px;
    background-color:#161616;
    text-align: center;
 

}
.img-sobre{
    padding: 10px;
}
.baixo-logo{
    background:black;
    width: 100%;
    height: 40px;

}
.baixo-logo li  {
    margin-top: -18px;
     float: right;
    padding: 12px;
   
}
.baixo-logo ul li a{

    color:#ccc;
    text-transform: uppercase;
    font-family: cursive;
    padding: 20px;
    line-height: 0.8em;
  
}

.baixo-logo ul a:hover{
    background:  url(images/Grupo\ 15.png) no-repeat center right;
    border-radius: 30px;
}
.coteudo-sobre{
    position: relative;
    background: cornsilk;
    width: 45%;
    height: 500px;
    color:  black;
    

}
.Historia-sobre{
    position: absolute;
    top: 80px;
    right: 0px;
    width: 55%;
    height: 500px;
    background:#D1824B;
    color:  black;
}
.conteudo-principal h1{
    text-transform: uppercase;
    padding: 40px;
    font-size: 1.8em;
   font-family: serif;
   font-weight: bold;
   text-align: center;

}
.conteudo-principal h3{
    margin-top: -25px;
    margin-left: -50px;
    padding-left: 40px;
    color: #383838; 
    text-align: center;
    line-height: 40px;

}
.conteudo-principal p {
    color:#161616;
    text-align: center;
    line-height: 30px;
    
}


.missao{
     position: absolute;
     background: #D1824B;
     width: 45%;
     left:0px;
     height: 300px;

}
.visao{
    width: 55%;
    position: absolute;
    height: 300px;
    right: 0px;
    background:cornsilk;

}
.valores{
    position:absolute;
    bottom: -600px;
    background:cornsilk;
    width: 45%;
    height: 300px;
    text-align: center;
}
.valores p{
    color:#161616;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}
.frase-valores{
    position:absolute;
    right: 0px;
    bottom: -600px;
    background:#D1824B;
    width: 55%;
    height: 300px;
    text-align: center;

}
.frase-valores p{
    letter-spacing: 3px;
   margin: 60px;
    

}


.definicao h3{
    margin: 0px;
    
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    font-family: "Raleway";
    font-size: 1.9em;
    letter-spacing: 4px;
    color: #565656;
    text-align: center;
    text-transform: uppercase;
}
.missao p:hover{
    color: cornsilk;

}
.visao p:hover{
    color: #D1824B;
}
.valores p:hover{
    color: #D1824B;

}
 /* ágina Raças*/
 .conteudo-racas{
     background: #ffffff;
     color:black;
     height: 200px;
     text-align: justify;
     cursor: none;
     
 }
 .conteudo-racas h3{
     padding: 15px;
     text-align: center;
     text-transform: uppercase;
 }
 #racas-h4{
     position: absolute;
     top: 50%;
     right: 40%;
 
     width: 100%;
     text-align:center;     
 }
 #racas-h4 span.racas{
     position: absolute;
    padding: 18px;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;
    background: black;
    

   

  }
  #racas-h4 span.racas:hover{
     
      background:white;
      color: black;
  }
 
.racas a:hover{
    
    background:purple;
    color: black;
}

.link-final-raca a{
    position: absolute;
    top: 45%;
    left: 45%;
    padding: 18px;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;
    background: black;
    color: white;
    border-radius: 100px;

}

.link-final-raca a:hover{
    border-radius: 100px;
    background:white;
    color: black;
    
}



 
 .imagemtop,.imagem1,.imagem1-1,.imagem2,.imagem3,.imagem4,.imagem5,.imagem6{
     position: relative;
     height: 100%;
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;

 }
 
.imagemtop{
    background:#D1824B;
    opacity: 0.9;

}
.imagem1{
    background-image: url(images/golden-retriever-620159_1920.jpg);
    opacity: 0.7;
}
.imagem1-1{
    background-image: url(images/pet-3635985_1920.jpg);
    opacity: 0.7;

}
.imagem2{
    background-image: url(images/pitbull\ .jpg);
    opacity: 0.7;
}
.imagem3{
    background-image: url(images/dalmata.jpg);
    opacity: 0.7;

}
.imagem4{
    background-image: url(images/pinscher.jpg);
    opacity: 0.7;

}
.imagem5{
    background-image: url(images/corgifundo.jpg);
    opacity: 0.7;

}
.imagem6{

    background-image: url(images/pug.jpg);
    opacity: 0.7;

}
   

 
.imagemtop h3{
   
     color:black;
     font-size: 40px;
     letter-spacing: 6px;
     line-height: 5em;
     text-transform: uppercase;
     text-align: center;
     white-space: nowrap;
     overflow: hidden;
    
     
 }
 .imagemtop h3 span{
     color: white;
     opacity: 0.9;
    
 }
 .img-top-raca{
  
    position: absolute;
    top: 20%;
    left: 20%;
    border-left: 10px solid white;
    border-radius: 200px;
}


.menutop-raca ul{
   
     position: absolute;
     top: 25px;
     right: 0px;
    font-weight: bold;
    text-transform: uppercase;
}
.menutop-raca li {
    float: left;
}
.menutop-raca a{
    color: white;
    float: right;
    font-size: 0.8em;
   padding: 5px;
   padding-right: 60px;
 


}
.menutop-raca  a:hover{
    color:#D1824B;
  background: none;
    
    

}
/* contato */

.bodycontato{
    position: fixed;
    background: #D1824B;
    width: 100%;;

}

.informacoes img{
 float: left;
  margin: -24px -390px;
  

    
}


.conteiner p{
    top:40px;
    position:relative;
    font-family: 'Special Elite', cursive;
    font-size: 1.5em;
    left: 67%;

}



.divformualrio{
    padding: 0 20px;
    width: 100%;
    display: table;
}
form{
 
    background: black;
    margin: 30px auto;
    width: 50%;
    height: 500px;
    box-shadow: 0 4px 8px #ccc;
     }


 input,textarea{
     padding: 5px;
    
    display: flex;
    margin:0 auto;
    width: 80%;

 }
 textarea{
     height:50px;
 }
label{
    padding: 10px;
    font-weight: 600;
    font-family: 'Special Elite', cursive;
    padding-bottom: 5px;
    display: inline-block;
  

}


button{
    position: relative;
    top:10px;
    left:  400px;
    height: 30px;
    width: 180px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    font-weight: 700px;
    font-family: 'Special Elite', cursive;
    background: #e07f53;
    color: #fff;
}
.hr{ 
    position: relative;
    top: 40px;
    left: 30px;
    width: 610px;
    height: 2px;
    background:white;
  

    
   
}
