*{
    margin: 0;
    padding: 0;
}
body,html{
    font-family: Arial, Helvetica, sans-serif;
    background: #000000 url(images/fundo.png)  repeat-x left;
    color: #ffffff;
    margin: 0;
    min-width: 1200px; ;
    height: 100%;

   
    
   
    
 
}
#top{
    position: relative;

}
#logo{
     width: 100%;
     height: 600px;
     position: absolute;
    }
#paragrafos-home{
    font-size: 1.5em;
    color:#ffffff;
    padding-top: 40px;
    padding-left: 300px;
}
#menu-lateral{
    background:#D1824B ;
    margin-top: 35px;
    margin-right: 90px;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 20px;
    right: 0;   
    border-radius: 30px ; 
}


.img-dog-lateral{
 position: absolute;
 bottom: 45px;
 right: 310px;

}
.balao{
    padding-top: 60px;
    padding-left: 70px;
}
#rodape{
    position: fixed;
    width: 100%;
    padding: 17px;
    bottom: 0px;
    background: #ccc url(images/fundo.png);
    font-size: 1.1em;
    color:#D1824B; 
}
.autoria-icons{
    font-size: 0.7em;
}
.autoria-link{
    color: #fff;
}

.linkfinal{
 position: absolute;
 font-size: 1.1em;
 padding: 14px;
 left: 280px;
 top: 260px;
 border-radius: 30px;
}
.linkfinal a {
    color: black;
    color: black;
    padding: 14px;
    background: #D1824B;
    border-radius: 30px;
}
.linkfinal a:hover {
    color: black;
    padding: 14px;
    background:#fff;
    border-radius: 30px; 
}
.adotar{
  position: absolute;
  bottom: 120px;
  left: 300px;
  width: 400px;
  height: 40px;
  line-height: 2.5em;
  text-transform: uppercase;
  text-align: center;
  color: #383838;
 
}
.adotar:hover{
    background: #D1824B;
    color: black;
    cursor: none;
}
a{
  text-decoration: none;
}
ul{
    list-style: none;
}
 #menu-lateral ul li {
    margin-top: -14px;
    float: left;
}
#menu-lateral ul li a { 
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: cursive;
    padding: 20px;
}
ul a:hover{
    background: black; 
}
body.Home #navegacao a#Home,
body.Sobre #navegacao a#Sobre,
body.Racas #navegacao a#Racas,
body.Contato #navegacao a#Contato

{


    background:#383838; 
}

/* Página Sobre" */

#Logo-Sobre{ 
     width: 100% ;
     height: 40px;
    background-color:#161616;
    text-align: center;
 

}
.img-sobre{
    padding: 10px;
}
.baixo-logo{
    background:black;
    width: 100%;
    height: 40px;

}
.baixo-logo li  {
    margin-top: -18px;
     float: right;
    padding: 12px;
   
}
.baixo-logo ul li a{

    color:#ccc;
    text-transform: uppercase;
    font-family: cursive;
    padding: 20px;
    line-height: 0.8em;
  
}

.baixo-logo ul a:hover{
    background:  url(images/Grupo\ 15.png) no-repeat center right;
    border-radius: 30px;
}
.coteudo-sobre{
    position: relative;
    background: cornsilk;
    width: 45%;
    height: 500px;
    color:  black;
    

}
.Historia-sobre{
    position: absolute;
    top: 80px;
    right: 0px;
    width: 55%;
    height: 500px;
    background:#D1824B;
    color:  black;
}
.conteudo-principal h1{
    text-transform: uppercase;
    padding: 40px;
    font-size: 1.8em;
   font-family: serif;
   font-weight: bold;
   text-align: center;

}
.conteudo-principal h3{
    margin-top: -25px;
    margin-left: -50px;
    padding-left: 40px;
    color: #383838; 
    text-align: center;
    line-height: 40px;

}
.conteudo-principal p {
    color:#161616;
    text-align: center;
    line-height: 30px;
    
}


.missao{
     position: absolute;
     background: #D1824B;
     width: 45%;
     left:0px;
     height: 300px;

}
.visao{
    width: 55%;
    position: absolute;
    height: 300px;
    right: 0px;
    background:cornsilk;

}
.valores{
    position:absolute;
    bottom: -600px;
    background:cornsilk;
    width: 45%;
    height: 300px;
    text-align: center;
}
.valores p{
    color:#161616;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}
.frase-valores{
    position:absolute;
    right: 0px;
    bottom: -600px;
    background:#D1824B;
    width: 55%;
    height: 300px;
    text-align: center;

}
.frase-valores p{
    letter-spacing: 3px;
   margin: 60px;
    

}


.definicao h3{
    margin: 0px;
    
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    font-family: "Raleway";
    font-size: 1.9em;
    letter-spacing: 4px;
    color: #565656;
    text-align: center;
    text-transform: uppercase;
}
.missao p:hover{
    color: cornsilk;

}
.visao p:hover{
    color: #D1824B;
}
.valores p:hover{
    color: #D1824B;

}
 /* ágina Raças*/
 .conteudo-racas{
     background: #ffffff;
     color:black;
     height: 200px;
     text-align: justify;
     cursor: none;
     
 }
 .conteudo-racas h3{
     padding: 15px;
     text-align: center;
     text-transform: uppercase;
 }

 .imagem1, .imagem2{
     position: relative;
     height: 100%;
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;

 }
 
.imagem1{
    background-image: url(images/pexels-photo-1884500.jpeg);
    opacity: 0.85;
}
.imagem2{
    background-image: url(images/pexels-photo-1124002.jpeg);
}
   
 
.imagem1 h3{
     font-size: 1.9em;
     font-family: Georgia, 'Times New Roman', Times, serif;
     letter-spacing: 4px;
     line-height: 60px;
     text-transform: uppercase;
     padding: 80px ;
     padding-left: 20px;
     text-align: center;
     opacity: 0.2;
     
 }
 
.imagem1 h3:hover{
    color:wheat;
    opacity: 0.9;

}

.menutop-raca ul li a{

     float: right;
      color: red;
      font-weight: bold;
      padding: 20px;
      margin-top: 90px;
      text-transform: uppercase;
}
.menutop-raca  a:hover{
    color:wheat;
    background: none;

}